@import "tailwindcss";

@theme {
  --color-black: #000;
  --color-black-100: #0A0A0B;
  --color-black-200: #1A1A1D;
  --color-white:#FFFFFF;
  --color-white-400:#FFFFFF;
  --color-white-100:#BEC1DD;
  --color-white-200:#C1C2D3;
  --color-blue-100:#D9E6FF;
  --color-blue-100:#D9E6FF;
  --color-purple-100:#CCCCFE;
}